<header class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">Jesse DeRose</a></h1>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.jpeg" alt="image" >			
                
                <div class="bio mb-3">Your guide for successful FinOps programs.</div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://www.twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github-alt"></i></a></li>
                    <li class="list-inline-item"><a href="https://dev.to/{{ site.devto_username }}"><i class="fab fa-dev"></i></a></li>
                    <li class="list-inline-item"><a href="https://{{ site.mastodon_server }}/@{{ site.mastodon_username }}"><i class="fa-brands fa-mastodon"></i></a></li>
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->
            
            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html"><i class="fas fa-home fa-fw me-2"></i>Blog Home <span class="sr-only">(current)</span></a>
                <li class="nav-item">
                    <a class="nav-link" href="media.html"><i class="fas fa-user fa-fw me-2"></i>Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                </li>
            </ul>
            
            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="mailto:info@derose.cloud" target="_blank">Get in Touch</a>
            </div>
        </div>
    </nav>
</header>
