<head>
  <title>{{ site.title }}</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jesse's Tech Storytelling Portfolio">
  <meta name="author" content="Jesse DeRose">
  <meta name="keywords" content="storytelling,jcderose,jesse derose,aws,software engineering,devops,blog,podcast,cloud,cost,finops,cloud financial management">
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="og:title" content="The Cloud is Nigh">
  <meta name="og:site_name" content="Jesse DeRose">
  <meta name="og:url" content="https://www.derose.cloud">
  <meta name="og:description" content="Jesse's Tech Storytelling Portfolio">
  <meta name="og:type" content="website">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="The Cloud is Nigh">
  <meta name="twitter:description" content="Jesse's Tech Storytelling Portfolio">

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- FontAwesome JS -->
  <script defer src="https://kit.fontawesome.com/3a3a4847bb.js" crossorigin="anonymous"></script>

  <!-- Global CSS -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/theme-8.css">

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNJM2P1HXG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YNJM2P1HXG');
  </script>
</head>
