<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
	{%- include header.html -%}
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container single-col-max-width">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{ page.title }}</h2>
				    <div class="meta mb-3">
              <span class="date">Published {{ page.date }}</span>
              <span class="time">{% include read-time.html content = page.content %}</span>
              {% if page.cross-post-dest and page.cross-post-url %}
				      Cross-posted to <a class="theme-link" href="{{ page.cross-post-url }}" target="_blank">{{ page.cross-post-dest }}</a>
              {% endif %}
            </div>
			    </header>
			    {% if page.image %}
			    <div class="blog-post-body">
				    <figure class="blog-banner">
				        <a href="https://made4dev.com"><img class="img-fluid" src="{{ page.image }}" alt="image"></a>
				        <figcaption class="mt-2 text-center image-caption">Image Credit: <a class="theme-link" href="{{ page.image-credit-url }}" target="_blank">{{ page.image-credit-text }}</a></figcaption>
				    </figure>
					{% endif %}
				    <p>{{ content }}</p>
	    
	    <footer class="footer text-center py-2 theme-bg-dark">
		   
	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
		   
	    </footer>
    
    </div><!--//main-wrapper-->

    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    
    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/blog.js"></script> 

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/plugins/popper.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/vanilla-rss/dist/rss.global.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/dark-mode-switch/dark-mode-switch.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>

</html>

