<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {{ content }}

    {%- include footer.html -%}

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/plugins/popper.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/vanilla-rss/dist/rss.global.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/dark-mode-switch/dark-mode-switch.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>

</html>
